.body .content .right-pane {
    width: 312px;
    max-width: 312px;
    min-width: 312px;
}

._table-cell,
.body .content .left-pane,
.body .content .mid-pane,
.body .content .right-pane,
.sports-wrapper {
    display: table-cell;
    vertical-align: top;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #444 #aaa;
}

*,
:after,
:before {
    box-sizing: border-box;
}

user agent stylesheet div {
    display: block;
}

.tree-menu {
    width: 178px;
    overflow: hidden;
    height: 100%;
    /* margin-top: 116px; */
}

aside.menu1 {
    height: calc(100vh - 232px) !important;
}

.fdsfsdffs {
    /* height: calc(100vh - 240px); */

}