.news {
    background-color: #2c4f58;
}

.news {
    padding: 4px 10px;
    color: #fff;
    float: left;
    width: 100%;
}

/* * {
    outline: 0 !important;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet */
div {
    display: block;
}

.news .news-line {
    float: left;
    width: calc(100% - 30px);
}

/* * {
    outline: 0 !important;
}
*, *::before, *::after {
    box-sizing: border-box;
} */

:host {
    display: inline-block;
    overflow: hidden;
    text-align: initial;
    white-space: nowrap;
}

/* user agent stylesheet */
marquee {
    display: inline-block;
    width: -webkit-fill-available;
}

.news {
    padding: 4px 10px;
    color: #fff;
    float: left;
    width: 100%;
}

.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fas {
    font-weight: 900;
}

.fa-times:before {
    content: "\f00d";
}

/* 
*, *::before, *::after {
    box-sizing: border-box;
} */
.news .fa-times {
    color: #fff;
    margin-right: 5px;
    margin-top: 3px;
    cursor: pointer;
}

.header nav {
    background-color: #0f2327;
}

.header nav {
    height: 60px;
    padding: 10px;
    float: left;
    width: 100%;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

/* * {
    outline: 0 !important;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet */
nav {
    display: block;
}

.header .navbar-toggler {
    border: 0;
    float: left;
    margin-top: 5px;
    outline: 0 !important;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
    cursor: pointer;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
}

button,
select {
    text-transform: none;
}

button,
input {
    overflow: visible;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border-radius: 0;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;

    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.fa-bars:before {
    content: "\f0c9";
}

/* *, *::before, *::after {
    box-sizing: border-box;
} */
.header .fa-bars {
    color: #fff;
    font-size: 22px;
}

.fa,
.fas {
    font-weight: 900;
}

.fa,
.far,
.fas {
    font-family: "Font Awesome 5 Free";
}

.fa,
.fab,
.fal,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
    cursor: pointer;
}

.float-right {
    float: right !important;
    margin-top: -40px;
}

/* * {
    outline: 0 !important;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet */
div {
    display: block;
}

.rules-link {
    color: #fff;
    margin-right: 5px;
    float: left;
    margin-top: 10px;
}

a,
a:hover,
a:focus,
a:active {
    color: #000;
    text-decoration: none;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

/* * {
    outline: 0 !important;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet */
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
    cursor: pointer;
}

.balance-button {
    background-color: #2c4f58;
    color: #fff;
}

.balance-button {
    font-size: 14px;
    border-radius: 2px;
    padding: 6px 8px 8px;
    min-width: 69px;
    height: 40px;
    margin-right: 5px;
    margin-left: 10px;
    border: 0;
    outline: 0 !important;
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
}

button,
select {
    text-transform: none;
}

button,
input {
    overflow: visible;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border-radius: 0;
}

/* * {
    outline: 0 !important;
}
*, *::before, *::after {
    box-sizing: border-box;
} */
.fa-search:before {
    content: "\f002";
}

/* *, *::before, *::after {
    box-sizing: border-box;
} */
.header .fa-search {
    cursor: pointer;
}

.header .fa-search {
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
}

.fa,
.fas {
    font-weight: 900;
}

.fa,
.far,
.fas {
    font-family: "Font Awesome 5 Free";
}

.fa,
.fab,
.fal,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

/* * {
    outline: 0 !important;
} */
/* 
*, *::before, *::after {
    box-sizing: border-box;
} */
.rules-link {
    color: #fff;
    margin-right: 5px;
    float: left;
    margin-top: 10px;
}

a,
a:hover,
a:focus,
a:active {
    color: #000;
    text-decoration: none;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

user agent stylesheet a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

header.header {
    margin: auto auto 0;
    width: 100%;
    float: left;
    position: fixed;
    z-index: 99;
}

.header-b-menu {
    height: 30px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.header-b-menu .election {
    background: #bb1919;
    padding: 7px;
    ;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.header-b-menu a {
    color: #fff;
    font-weight: bold;
}

a,
a:hover,
a:focus,
a:active {
    color: #000;
    text-decoration: none;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

/* header.header a {
    color: #f8f9fa !important;
} */

.header .fa-arrow-left {
    font-size: 20px;
    color: #fff;
    vertical-align: middle;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.fa,
.fas {
    font-weight: 900;
}

.fa,
.far,
.fas {
    font-family: "Font Awesome 5 Free";
}

.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.login-signup {
    display: flex;
    gap: 24px;
    justify-content: end !important;
    width: 19%;
}

._button_nav {
    width: 35%;
    padding: 0.5rem;
    background-color: #2c4f58;
    border: 1px solid white;
    border-radius: 7px;
    font-size: 17px;
    font-weight: 500;
}


@media screen and (min-width: 250px) and (max-width: 550px) {
    .login-signup {
        display: flex;

        justify-content: end !important;
        width: 41%;
    }

    ._button_nav {
        width: 80%;
        padding: 0.7rem;
        background-color: #2c4f58;
        border: 1px solid white;
        border-radius: 7px;
        font-size: 14px;
        font-weight: 500;
    }

}

@media screen and (min-width: 550px) and (max-width: 870px) {
    .login-signup {
        display: flex;
        justify-content: end !important;
        width: 41%;
    }
}