.box-w1 {
    width: 20% !important;
    max-width: 20% !important;
    min-width: 20% !important;
}

.box-w4 {
    width: 60% !important;
    max-width: 60% !important;
    min-width: 60% !important;
}

.timeeeee {
    width: 100%;
    font-size: 10px;
    font-weight: 600;
    margin-top: 4px;
}

.homeimgGame img {
    width: 19px;
    margin-left: 1%;
    margin-top: 52%;
}

.isRight {
    transform: translateX(-360);
}

.itdasdasdsa {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

/* .homeimgGame {
    float: left;
    margin-left: 6px;
} */

.timeeeeeee {
    width: 100%;
    font-size: 10px;
    font-weight: 600;
    margin-top: 4px;
}

.fsfsdf {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 4px;
}

.noLiveMatch {
    font-size: 15px;
    color: black;
    margin-left: 6%;

}

.odds-name {
    width: 60%;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.gamelogogo {
    width: 10%;
}

.gamelogogo img {
    width: 60%;
}

.inplayyyy {
    width: 10%;
    color: green;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
}

.gameName {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.game-time {
    font-size: 10px;
    font-weight: bold;
}

.formobileview {
    display: none;
}

.sports-name {
    font-size: 20px;
    font-weight: 600;
    padding: 13px 0px;
}

.numberval {
    width: 40%;
    float: right;
}

.fl {
    float: left;
}

.value-num {
    display: flex;
    justify-content: space-around;
    margin-top: -3%;
}

.gam-name {
    margin-top: 12px;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .value-num {
        margin-left: 3%;
    }

    .val-num {
        margin-top: 4% !important;
    }

    .gam-name {
        margin-top: 3px !important;
    }
}

.homerow {
    margin-bottom: -2px !important;
}

.wh {
    background-color: #fff;
    width: 100%;
    margin-bottom: -3px !important;
}
ul.market-listing.m-t-10.fsfsdf.mt-23 {
    margin-top: -23px !important;
}

