.box-w1 {
    width: 20% !important;
    max-width: 20% !important;
    min-width: 20% !important;
}

.box-w4 {
    width: 60% !important;
    max-width: 60% !important;
    min-width: 60% !important;
}

.timeeeee {
    width: 100%;
    font-size: 10px;
    font-weight: 600;
    margin-top: 4px;
}

.homeimgGame img {
    width: 19px;
    margin-left: 1%;
    margin-top: 52%;
}

.isRight {
    transform: translateX(-360);
}

.itdasdasdsa {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

/* .homeimgGame {
    float: left;
    margin-left: 6px;
} */

.timeeeeeee {
    width: 100%;
    font-size: 10px;
    font-weight: 600;
    margin-top: 4px;
}

.fsfsdf {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 4px;
}

.noLiveMatch {
    font-size: 15px;
    color: black;
    margin-left: 6%;

}

.odds-name {
    width: 60%;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.gamelogogo {
    width: 10%;
}

.gamelogogo img {
    width: 60%;
}

.inplayyyy {
    width: 10%;
    color: green;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
}

.gameName {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.game-time {
    font-size: 10px;
    font-weight: bold;
}

.formobileview {
    display: none;
}

.sports-name {
    font-size: 20px;
    font-weight: 600;
    padding: 13px 0px;
}

.numberval {
    width: 40%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 31%;
}

.fl {
    float: left;
}

.value-num {
    display: flex;
    justify-content: space-around;
    margin-top: -3%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

.gam-name {
    margin-top: 12px;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .value-num {
        margin-left: 3%;
    }

    .val-num {
        margin-top: 4% !important;
    }

    .gam-name {
        margin-top: 3px !important;
    }
}

.homerow {
    margin-bottom: -2px !important;
}

.wh {
    background-color: #fff;
    width: 100%;
    margin-bottom: -3px !important;
}

ul.market-listing.m-t-10.fsfsdf.mt-23 {
    margin-top: -47px !important;
}

.main_card_for_homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    flex-direction: column;
    padding: 10px;
}

.inner_card_for_homepage1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    /* background-color: violet; */
    padding: 3px;
    /* gap: 5%; */
}

.inner_card_for_homepage2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 2px;
}

/* .inner_card_for_homepage3 {} */

.gamename_card_img_inplay {}

.card_logo_homePage {
    width: 19px;
}

.card_Name_Date_homepage {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    width: 85%;
}

.card_Name_homepage {
    font-size: 16px;
}

.card_Date_homepage {
    font-size: 12px;

}

.inner_card_nameAndpnl_homepage {
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.game_name_btxi {
    font-weight: bolder;
    font-size: 14px;
}

.game_name_pnllll {}

.inner_card_rate_homepage {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4px;
}

.inner_card_lay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FAA9BA;
}

.mainnnnnn {
    width: 17%;
    padding: 7px;
}

.oddddddssss {
    font-size: 14px;
    font-weight: 700;
}

.rateeeeee {
    font-size: 11px;
}

.blurrrrrrr_back {
    background-color: #e3f3fe !important;
}

.blurrrrrrr_lay {
    background-color: #fdeef2 !important;
}

.inner_card_back {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #72BBEF;
}

@media screen and (max-width: 500px) {

    .mobile_to_desktop_view_block {
        display: none;
    }

    .mainnnnnn {
        width: 50%;
    }

    .inner_card_nameAndpnl_homepage {
        width: 60%;
    }

    .inner_card_rate_homepage {
        width: 40%;
    }

}

.home_card_mainPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 4px;
    padding-top: 8px;
}