.main-account-containor {
    display: flex;
    flex-wrap: wrap;
    margin-top: 85px;
    margin-left: 3px;

}

.mx-input-wrapper {
    margin: 7px;
}

.account-lable {
    margin-bottom: 7px;
}

.account-input {
    padding: 3px 2px;
}

.withdraw-data {
    padding-right: 100px !important;

    font-size: 12px;

}

.account-detail {
    background-color: #2C3E50;
    color: #fff;
}

@media screen and (min-width: 500px) {
    select.custom-select {
        width: 200%;
    }

    button.btn.btn-primary.btn-block.btn-sm {
        margin-left: 101%;
        width: 170%;
        height: 31px;
        margin-top: 35% !important;
    }

    .main-account-containor {
        justify-content: center !important;
    }

    .main-account-containor {
        display: flex;
        flex-wrap: wrap;
        margin-top: 85px;
        margin-left: -105px;
    }

    input[type="text" i] {
        padding: 3px 2px;
    }


}

@media screen and (max-width: 500px) {


    .mx-input-wrapper.account-field {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
    }

    .btn.btn-primary {
        background: #2c4f58 !important;
        font-size: 18px;
        width: auto;
        margin-right: 4%;
        /* height: 45px; */
        border-color: unset !important;
        padding: 5px 30px !important;
    }
}
button.btn.btn-primary.btn-block.btn-sm {
    margin-left: 101% !important;
    width: 170% !important;
    height: 31px;
    margin-top: 35% !important;
}


element.style {
}
@media screen and (min-width: 500px){
.main-account-containor {
    display: flex;
    flex-wrap: wrap;
    margin-top: 85px;
    margin-left: -22 !important;
}
}
.dest_withdrow{
    overflow: hidden !important;
}
.main-account-containor {
    width: 100% !important;
}
table#__BVID__104 {
    margin-top: 12px !important;
    width: 100% !important;
    font-size: 14px !important;
    margin-left: 17px !important;
}
tr.dest_tr {
    line-height: 37px;
}