/* .login {
    background: url(https://d1arlbwbznybm5.cloudfront.net/v1/static/mobile/images/login-bg.jpg) center center !important;
    background-size: unset !important;
    overflow-y: auto;
    height: 83vh !important;
}
.login-form .login-panel {
    width: 100% !important;
    margin: 0px auto;
    text-align: center;
    margin-top: -75px;
}
.login-form .login-panel .panel-heading .logo img {
    height: 65px;
}
fieldset {
    width: 94%;
    margin-inline: 3% !important;
}
.recaptchaTerms a{
    color: #4cb4f9;
} */