.singn_popup {}

@media screen and (min-width:1200px) {
    .singn_popup {
        margin-left: 15%;
    }
}

.comm-data-new {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}