/* .mid-pane {
    padding: 0 0 20px 20px;
    height: 100%;
    margin-right: 203px;
} */
/* .body>.content>.mid-pane {
    padding: 0 0 20px 20px;
}

.body .content .mid-pane {
    display: table-cell;
    vertical-align: top;
}
.content .mid-pane{
    display: table-cell;
    vertical-align: top;
}
.body.content h1 {
    margin-bottom: 10px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid rgba(15, 35, 39, 0.4);
    font-size: 18px;
    font-weight: bold;
}

.body>.content h1, .body>.content h2, .body>.content h3 {
    color: #0f2327;
}
h1 {
    font-size: 24px;
}
.h1, h1 {
    font-size: 2.5rem;
}
.h1{
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
} */

/* ._flex */

.mt-66 {
    margin-top: -329px !important;
}

.wid-100 {
    width: 1088px !important;
}

.startDateNew {
    width: 228px !important;
    height: 37px;
    margin-left: -16px;
    border-radius: unset !important;
}

button.btn-primary.searchBtnNew {
    margin-top: 26px;
    height: 34px;
    background: #5c996f !important;
    margin-left: -5px;
    border-radius: 3px !important;
    padding-top: 10px;
}

.betHeading {
    font-size: 18px;
    border-bottom: 1px solid #000;
    padding-bottom: 6px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 600;
}

.oddNew td {
    font-weight: 500 !important;
    /* text-align: left !important; */
}

.oddNew a {
    text-decoration: none !important;
    color: #000 !important;
}

form.pnl {
    margin-left: 31px;
    margin-bottom: 0;
}

.pnlHeading {
    margin-left: 28px;
}

table.table.profit-loss-table {
    margin-top: 0 !important;
}

button.mt-0.w-0.btn-primary.searchBtnNew {
    width: 50px;
    margin-left: 3px !important;
}

.m-t-2 {
    margin-top: 12px !important;
}

.wid-50 {
    /* width: 42%!important; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secAndAuth {
    padding: 5px 13px !important;
    font-size: 10px !important;
}

.back_1 {
    background-color: #b0d6f1 !important;
}