.container-inner {
    padding: 5px;
}
.main-content section {
    float: left;
    width: 100%;
}
.m-t-10 {
    margin-top: 10px !important;
}
.page-title {
    font-size: 18px;
    font-weight: bold;
}
.p-l-15 {
    padding-left: 15px !important;
}
h4, .h4 {
    font-size: 1.5rem;
}
.p-l-15 {
    padding-left: 15px !important;
}
.page-title {
    font-size: 18px;
    font-weight: bold;
}
.market-listing {
    float: left;
    width: 100%;
}
.market-list-item {
    margin-bottom: 2px;
    padding-left: 11px;
    padding-right: 11px;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
}
.item-inner img {
    width: 18px;
}
.game-name {
    font-size: 16px;
}
/* li.market-list-item {
    margin-top: 12px;
} */
