.body>.content h1 {
    margin-bottom: 10px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid rgba(15, 35, 39, 0.4);
    font-size: 18px;
    font-weight: bold;
}

.body>.content h1,
.body>.content h2,
.body>.content h3 {
    color: #0f2327;
}

h1 {
    font-size: 24px;
}

.h1,
h1 {
    font-size: 2.5rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.event-heading {
    padding: 10px 0 10px 0 !important;
    border-bottom: 1px solid rgba(15, 35, 39, 0.4) !important;
    font-size: 18px !important;
    font-weight: bold !important;
}

h1.event-heading {
    display: flex;
    justify-content: space-between;
}

.right-pane {
    width: 312px;
    max-width: 312px;
    min-width: 312px;
    margin-top: -29px;
}

.menu-column {
    float: left !important;
    width: 178px;
}

ul.menu-column.menu-lvl-0 li {
    text-align: start;
}

.mid-pane {
    padding: 0 0 20px 20px;
}

.mid-pane {
    padding: 0 0 20px 20px;
    height: 100%;
}

.left-pane {
    /* height: 100vh; */
}

.date-inplay {
    margin-top: 2px !important;
}


a.event-name {
    font-size: 12px;
}

.eventName {
    width: 61%;
    float: left;
}

.eventIcon {
    float: left;
    margin-right: 3px;
}

.maindiv {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

/* .{    width: 100%;} */