/* .content.boxed-layout-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
}
@media screen and (max-width: 900px) {
  .mt-56 {
    margin-top: 10%;
}
    
} */

.main-desk-view {
    justify-content: center;
}

/* .mt-56 {
    margin-top: -251px;
}

@media screen and (max-height: 700px) {
    .mt-56 {
        margin-top: 10%;
    }
} */