/* .main-content section {
    float: left;
    width: 100%;
}

.m-t-10 {
    margin-top: 10px !important;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.casino-page .page-title[data-v-6a7f44cc] {
    font-size: 14px;
}

.casino-page .page-title {
    border-bottom: 3px solid #31424a;
}
.casino-page .page-title {
    font-size: 10px;
    text-align: center;
}
.page-title {
    font-size: 18px;
    font-weight: bold;
}
.m-t-10 {
    margin-top: 10px !important;
}
.text-center {
    text-align: center !important;
}
h2, .h2 {
    font-size: 2rem;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.row.row5 {
    margin-left: -5px;
    margin-right: -5px;
}

.row.row5 {
    margin-left: -5px;
    margin-right: -5px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.row.row5 [class*='col-'] {
    padding-left: 5px;
    padding-right: 5px;
}

.row.row5 [class*='col-'] {
    padding-left: 5px;
    padding-right: 5px;
}
.m-b-10 {
    margin-bottom: 10px !important;
}
.col-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}
.row.row5 [class*='col-'] {
    padding-left: 5px;
    padding-right: 5px;
}

.row.row5 [class*='col-'] {
    padding-left: 5px;
    padding-right: 5px;
}
.m-b-10 {
    margin-bottom: 10px !important;
}
.d-inline-block {
    display: inline-block !important;
}
.col-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}


Link, a:hover, a:focus, a:active {
    color: #000;
    text-decoration: none;
}
i {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

Link:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
} */
/* 
.casino-page .page-title[data-v-6a7f44cc] {
    font-size: 14px;
}

.casino-page .page-title {
    border-bottom: 3px solid #31424a;
} */
.colllcsss {
    width: 16.55%;
}

@media screen and (min-width:300px) and (max-width:500px) {
    .colllcsss {
        width: 33%;
    }
}

.buttttt {
    margin-top: 93px;
}

.CasinolButton {
    padding: 20px;
}

.casino-body-images {
    width: 75%;
}

.casino-images {
    width: 39px;
    margin-right: 8px;
}

.buttnnnname {
    background-color: #183f45 !important;
    padding: 5px;
    position: absolute;
    width: 100%;
    bottom: -15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0px;
    font-size: 8px;
    right: 0;
    /* margin-inline: 2.5%; */
    color: #fff;
}

.iconshadow {
    position: relative;
    box-shadow: 0 25px 8px -8px;
    border-radius: 4px;
    margin-bottom: 25px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
}

/* @media only screen and (min-width:800px) and (max-width: 2000px) {
    .buttonsize {
        width: 59%;
    }
} */

/* .buttonsize {
    width: 59%;
} */
.casino-body-images {
    width: 107px;
    height: 75px;
}

@media screen and (min-width:555px) {
    .casino-body-images {
        width: 200px;
        height: 75px;
    }
}

@media screen and (min-width: 700px)and (max-width:1000px) {
    .casino-body-images {
        width: 96px;
        height: 75px;
    }
}

@media screen and (min-width: 500px)and (max-width:700px) {
    .casino-body-images {
        width: 80px;
        height: 75px;
    }
}


button.buttnnnname {
    width: 95%;
    padding: 8px;
}

._margin {
    margin: 15px auto;
}