.main-account-containor {
    display: flex;
    flex-wrap: wrap;
    margin-top: 85px;
    margin-left: 3px;

}
.mx-input-wrapper {
    margin: 7px;
}
.account-lable{
    margin-bottom: 7px;
}
.account-input{
    padding: 3px 2px;
}
.withdraw-data{
    padding-right: 100px !important;

    font-size: 12px;

}
.account-detail{
    background-color: #2C3E50;
    color: #fff;
}