.main-account-containor {
    display: flex;
    flex-wrap: wrap;
    margin-top: 85px;
    margin-left: 3px;
    /* width: 100%; */

}

.mx-input-wrapper {
    margin: 7px;
}

.account-lable {
    margin-bottom: 7px;
}

.account-input {
    padding: 3px 2px;
}

.withdraw-data {
    padding-right: 100px !important;

    font-size: 12px;

}

.account-detail {
    background-color: #2C3E50;
    color: #fff;
}

@media screen and (min-width: 500px) {
    select.custom-select {
        width: 200%;
    }

    button.btn.btn-primary.btn-block.btn-sm {
        margin-left: 101%;
        width: 170%;
        height: 31px;
        margin-top: 35% !important;
    }

    .main-account-containor {
        justify-content: center !important;
    }

    .main-account-containor {
        display: flex;
        flex-wrap: wrap;
        margin-top: 85px;
        /* margin-left: -105px; */
    }

    input[type="text" i] {
        padding: 3px 2px;
    }


}

@media screen and (max-width: 500px) {


    .mx-input-wrapper.account-field {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
    }

    .btn.btn-primary {
        background: #2c4f58 !important;
        font-size: 18px;
        width: auto;
        margin-right: 4%;
        /* height: 45px; */
        border-color: unset !important;
        padding: 5px 30px !important;
    }

}

button.btn.btn-primary.btn-block.btn-sm.wsubmit {
    width: 100% !important;
    /* padding-left: 19px !important; */
}

.withdrawBtn {
    margin-left: 80px !important;
}

.pendinggggg {
    display: flex;
    flex-direction: row;
    gap: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalldatata {
    display: flex;
    flex-direction: column;
    gap: 38px;
    justify-content: center;
    align-items: center;
}

.butonnnn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8%;
}

.bynnnn {
    background-color: #183f45;
    border-radius: 6px;
    width: 28%;
    height: 3vh;
}

.handlepennfoifjfi {
    border-color: #00808000;
    background-color: transparent;
}

.PostselfwithdrawappDataLoadinglodding {
    background-color: #0000002b;
    height: 100vh;
}