.sportName{
    margin-bottom: 10px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid rgba(15, 35, 39, 0.4);
    font-size: 18px;
    font-weight: bold;
}
h5.d-inline-block.m-b-0 {
    color: #0f2327;
}
h5.d-inline-block.m-b-0 {
    padding: 0 0 10px 0;
    font-size: 1.25rem;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(15, 35, 39, 0.4);
}
.fancy-market1{
    width: 49.5% !important;
    float: left;
}
.lay.unhighlighted {
    background-color: #fdeef2 !important;
}
.fancy-tripple1{
    margin-bottom: 0px !important;
}