.modal-open {
    overflow: hidden;
}
.main-cointainer {
    float: left;
    width: 100%;
    padding-bottom: 100px;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

div {
    display: block;
}

.right-menu-open {
    transform: translateX(-260px);
    transition: .5s;
}
.right-menu-open {
    transform: translateX(-260px);
}


element.style {
    overflow-y: auto;
}
.right-menu {
    display: block;
    position: fixed;
    z-index: 2;
}
.right-menu {
    transform: translateX(0);
    position: absolute;
    left: auto;
    right: 0;
    background: #fff;
    width: 260px;
    height: 100%;
    top: 0;
    display: block !important;
    padding-top: 10px;
}
.main-cointainer {
    padding-bottom: 145px !important;
}

.main-cointainer {
    transition: .5s;
}
.left-menu-open {
    transform: translateX(250px);
    transition: .5s;
}
/* .left-menu-open {
    transform: translateX(260px);
} */
.main-cointainer {
    float: left;
    width: 100%;
    padding-bottom: 100px;
}
.left-menu {
    display: block;
    position: fixed;
    z-index: 2;
}
.left-menu {
    transform: translateX(0);
    position: absolute;
    left: 0;
    right: auto;
    background: #fff;
    width: 260px;
    height: 100%;
    top: 0;
    /* display: none; */
    padding-top: 10px;
    overflow: auto;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.d-none{
    display: none !important;
}
.main-cointainer {
    padding-bottom: 100px !important;
}
.left-menu {
    display: block;
    position: fixed;
    z-index: 2;
}
.lay-border{
    border-bottom: 6px solid #FAA9BA;
    width: 100%;

}
.back-border{
    border-bottom: 6px solid #72BBEF;
    width: 100%;
}

.modal-design
{
    margin-top: -68px;
}

.btnnnnnnnn{
    height: 60px;
    position: fixed;
    right:20px;
    bottom: 20%;
    border-radius: 50%;
    outline: none;
    /* border: none; */
    cursor: pointer;
    width: 60px;
    box-shadow: 0px 2px 1px 0px #ccc;
    z-index: 1;
    background-color: #2c4f58;
}
