.footer-desk {
    /* position: sticky;
    bottom: 0; */
    height: 110px;
}

.maincontainer {
    display: flex;
    min-height: calc(100vh - 230px);
    flex-wrap: nowrap;
    justify-content: center;
    /* margin-top: 10px; */

}